.gallery-wrap {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
}

.avl-gallery {
    width: 200px;
    height: 40px;
    border: 1px solid red;
    background-color: #fff;
    font-size: 25px;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.2s;
}

.avl-gallery:hover {
    background-color: red;
    color: #fff;
}

.gallery {
    width: 100%;
    height: 70%;
}

.gallery-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
}

.exit {
    text-align: right;
    padding: 10px;
}

.exit img {
    width: 60px;
}

.big-img {
    text-align: center;
}

.big-img img {
    height: 650px;
    transition: 0.5s;
}

#left, #right {
    height: 670px;
    width: 20%;
}

#left img, #right img {
    margin-top: 270px;
}

#left {
    margin-left: 5%;
}

#right {
    margin-right: 5%;
    text-align: right;
}

.gallery-mini {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: start;
    min-width: 100%;
    min-height: 133.3px;
    position: absolute;
    z-index: -1;
}

.gallery-box {
    position: relative;
}
.img-mini-box {
    margin: 2px;
    width: 100px;
    height: 133.3px;
    text-align: center;
    flex-shrink: 0;
    box-sizing: border-box;
    flex: 0 0 auto;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s;
    background-position: center;
}

#button-left, #button-right {
    position: absolute;
    top: 18px;
}



#button-right {
    margin-left: 95%;
}

#button-left {
    left: 0;
}


@media screen and (max-width: 900px) {
    .big-img img {
        width: 300px;
        height: 450px;
        transition: 0.5s;
        object-fit: cover;
        margin-top: 0px;
    }

    #left, #right {
        height: 50%;
        width: 10%;
    }

    #left img, #right img {
        margin-top: 200px;
    }
}

@media screen and (max-width: 500px) {
    .gallery-mini {
        display: none;
    }

    .big-img img {
        width: 90%;
        height: 90%;
        transition: 0.5s;
        object-fit: cover;
        margin-top: 30px;
    }

    #left, #right {
        height: 400px;
        width: 10%;
        position: relative;
    }
    
    #left img, #right img {
        margin-top: 200px;
    }

    #left img {
        left: 0;
        width: 40px;
    }

    #right img {
        left: 0;
        width: 40px;
    }
    
    #left {
        margin-left: 0;
    }
    
    #right {
        margin-right: 0;
        text-align: right;
    }

    .exit img {
        width: 40px;
    }

    .gallery-body {
        padding: 0;
    }

    #button-left, #button-right {
        display: none;
    }

    
}